body {
    background-color: cornflowerblue;
    color: aliceblue;
}

#window {
    background-color: aliceblue;
    color: black;
    height: 420px;
    width: 594px;
    margin: auto;
    margin-top: 100px;
    text-align: center
}

button {
    height: 50px;
    width: 90%;
    border: none;
    background-color: dodgerblue;
    color: white;
    position: relative;
}