body {
    background-color: cornflowerblue;
    color: aliceblue;
}

#window {
    background-color: aliceblue;
    color: black;
    height: 420px;
    width: 594px;
    margin: auto;
    margin-top: 100px;
}

#window button {
    margin: auto;
}