body {
    margin: 0;
    background-color: rgb(128, 128, 128);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 75%;
    height: 100%;
    position: absolute;
}

#HUDRight {
    width: 25%;
    height: 100%;
    right: 0;
    position: absolute;
}