body {
    margin: 0;
    background-color: rgb(110, 110, 110);
    color: ivory;
}

#map {
    width: 75%;
    height: 100%;
    position: absolute;
}

#HUDRight {
    width: 25%;
    height: 100%;
    right: 0;
    position: absolute;
}